{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<p>
  <i class="fas fa-arrow-right"></i>
  <img id="theImg" alt="cat" style="width:500px;height:500px;object-fit:cover;" />
  <i class="fas fa-arrow-left"></i>
</p>
{% endblock %}
